<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row">
 
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-primary">
            
            <div class="box-info">
               <h1 class="text-center">Welcome To Practica</h1> 

                 <p> Pratica is a community-oriented tool that educates using real world experience and encourages people who are building their dream careers. It connects experts with the talent.</p>
        
            </div>
        </div>
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-dark">
            
            <div class="box-info">
               <h1 class="text-center">Problem Statement</h1>

                 <p> Connections, experience, opportunity, change, and lessons. </p>  

            </div>
        </div>
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-bright">
            
            <div class="box-info">
               <h1 class="text-center">Problem Statement</h1>

                 <p> Connections, experience, opportunity, change, and lessons. </p>  

            </div>
        </div>
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-dark">
            
            <div class="box-info">
               <h1 class="text-center">ManPower Survey</h1>

                 <p> According to talent shortage 2013 research by Manpower Group, worldwide 35% of over 38, 000 employers surveyed said they are experiencing difficulty filling jobs due to lack of available talent. This represents a rise comparison to 2012. </p>  

            </div>
        </div>
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-bright">
            
            <div class="box-info">
               <h1 class="text-center">Highlights</h1>

                 <p> Business performance is most likely to be impacted by talent shortage in terms of reduced client service capability and reduced competitiveness. 1 out of 5 employers who are facing talent shortage say this is having a high impact on meeting the client’s needs Employers report that their organizations are further increasing their focus on the talent pipeline and seeking to source talent outside established talent pools.</p>  

            </div>
        </div>


        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-reverse">
            
            <div class="box-info">
               <h1 class="text-center">Next</h1> 
            </div>
        </div>
        

    </div>
    <!-- end stats -->


</div>
  