<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row">
 
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-primary">
            
            <div class="box-info">
               <h1 class="text-center">Practica</h1>    
               <h2 class="text-center">Assess | Educate | Connect | Empower</h2>    
            </div>
        </div>
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-dark" style="padding-bottom:30px">
            
            <div class="box-info">
               <h1 class="text-center" style="margin-bottom:30px">What is Practica?</h1> 
               <div style=" margin: 0px auto">
                <div class="col-sm-3">
                    <section class="panel panel-box" style="min-height:300px; padding:20px">
                       
                        <div class="panel-bottom bg-reverse">
                            <p class="size-h1">Help you transition into your dream job</p>
                          
                        </div>
                    </section>
                </div>
                <div class="col-sm-3">
                    <section class="panel panel-box" style="min-height:300px;padding:20px ">
                       
                        <div class="panel-bottom bg-reverse" >
                            <p class="size-h1">Educate you using real world experience</p>
                          
                        </div>
                    </section>
                </div>
                <div class="col-sm-3">
                    <section class="panel panel-box" style="min-height:300px;padding:20px ">
                       
                        <div class="panel-bottom bg-reverse">
                            <p class="size-h1">Connect you to mentors and experts in your dream field</p>
                          
                        </div>
                    </section>
                </div>
                <div class="col-sm-3">
                    <section class="panel panel-box" style="min-height:300px;padding:20px ">
                       
                        <div class="panel-bottom bg-reverse">
                            <p class="size-h1">Provide your company a platform for talent </p>
                          
                        </div>
                    </section>
                </div>
               
              </div>
              <br>
            </div>
        </div>
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-bright">
            
            <div class="box-info">
                <br>
               <h2 class="text-center" style="margin-bottom:40px; font-size:36px">CEOs are concerned about the availability</br>of key skills to their growth prospects</h2> 
               <img src="images/graph.png" width="100%">
               <div class="col-md-4">
               </div>
               <div>
    
               </div>
            </div>
        </div>
         <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-primary">
            
            <div class="box-info">
                <br>
               <h2 class="text-center" style="margin-bottom:10px; font-size:36px">According to our online survey,<br> <strong>97% of Students and Professionals</strong> <br>are willing to accept unpaid micro projects.</h2> 
             
               <div class="col-md-4">
               </div>
               <div>
    
               </div>
            </div>
        </div>
        
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-reverse">
            
            <div class="box-info">
               <h1 class="text-center">Channels</h1> 
               <div style="font-size:30px">
                
                <div style=" margin: 0px auto">
                
                <div class="col-sm-12">
                    <section class="panel panel-box" style="min-height:00px;padding:20px; width:600px; margin-auto: 0px 25% ">
                       
                        <div class="panel-bottom bg-reverse" style="margin:0px auto">
                            <ul style="text-align:left">
                                <LI>Universities</LI>
                                <li>Unemployment agencies</li>
                            <li >HR departments
                        <ul>
                            <li>Private Companies</li>
                            <li>Government Agencies</li>
                            <li>NGOs</li>
                        </ul></li>
                        <li>Student groups and associations</li></ul>
                          
                        </div>
                    </section>
                </div>
          
               
              </div>
                
               </div>
            </div>
        </div>
    
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-dark">
            
            <div class="box-info">
               <h2 class="text-center">The Team</h2> 
               <div class="row">
                <div class="col-sm-3">
                    <div class="thumbnail">
                        <div style="overflow: hidden; height: 300px;"> <img alt="" width="100%" src="images/photo1.jpg"></div>
                        <div class="caption">
                            <h3>Lila Rajabion</h3>
                            <p>IT Educator</p>
                        </div>
                    </div>   
                    
                </div>
                <div class="col-sm-3">
                <div class="thumbnail">
                                <div style="overflow: hidden; height: 300px;"> <img alt=""  width="100%" src="images/photo2.jpg"></div>
                                <div class="caption">
                                    <h3>Leigh Boone</h3>
                                    <p>Developer/Designer</p>
                                </div>
                            </div>  
                        </div>
                        <div class="col-sm-3">
                            <div class="thumbnail">
                                <div style="overflow: hidden; height: 300px;"> <img alt="" width="100%" src="images/photo.jpg"></div>
                                <div class="caption">
                                    <h3>Anita Nyajur</h3>
                                    <p>Developer/Global Advocate</p>
                                </div>
                            </div> 
                            </div> 
                            <div class="col-sm-3">
                            <div class="thumbnail">
                                <div style="overflow: hidden; height: 300px; "> <img alt="" width="100%" src="images/photo4.jpg"></div>
                                <div class="caption">
                                    <h3>Karima Hijane</h3>
                                    <p>IT Professional & Strategist</p>
                                </div>
                            </div> 
                            </div>  
               </div>
      
               
            </div>
        </div>


   


        

    </div>
    <!-- end stats -->


</div>
  