<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row">
 
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-primary">
            
            <div class="box-info">
               <h1 class="text-center">Welcome To Practica</h1> 
            </div>
        </div>
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-dark">
            
            <div class="box-info">
               <h1 class="text-center">Next</h1> 
            </div>
        </div>
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-bright">
            
            <div class="box-info">
               <h1 class="text-center">Next</h1> 
            </div>
        </div>
        
        <div class="panel mini-box col-lg-12 col-xsm-12 bg bg-reverse">
            
            <div class="box-info">
               <h1 class="text-center">Next</h1> 
            </div>
        </div>
        

    </div>
    <!-- end stats -->


</div>
  