<div class="page-matrix">

    <section class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Job Cluster</strong></div>
        <div class="panel-body" ng-controller="jobclusterCtrl">
            <script src="scripts/jquery-1.6.2.min.js"></script>
            <script src="scripts/d3.min.js"></script>
            <script src="scripts/d3.layout.min.js"></script>
            <script src="scripts/insights.js"></script>
            

        </div>
    </section> 

</div>
<script type="text/javascript">

</script>